@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 
}

body {
  font-family: 'Lato', sans-serif;
  background-color: rgb(5, 5, 5)!important;
  color: rgb(214, 214, 214)!important;
  overflow-x: hidden;
  margin: 0;
}
.container-fluid{
    padding:50px !important;
    min-height:100vh;
    transform-origin: top left;
transition:transform 0.5s linear;
    
 
}
.container-fluid.show-nav {
transform:rotate(-20deg);
transform-origin: top left;
transition:transform 0.5s linear;
/* min-height:100vh; */

z-index: 1;




}
.circle-container{
    position: absolute;
    top:-100px;
    left: -100px;
   
}
.circle{
    background-color:#f85a5a;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition:transform 0.5s linear;
}
.container-fluid.show-nav .circle{
    transform:rotate(-70deg);

}
.circle button{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border:0;
    font-size: 26px;
    color: rgb(227, 227, 227);
}
.circle button:focus{
    outline: none;

}
.circle button#open{
    left:60%;
}
.circle button#close{
    top:60%;
    transform:rotate(90deg);
    transform-origin: top left;
}
.container-fluid.show-nav + nav li{
    transform:translateX(0);
    transition:transform 0.5s linear;
}
nav{
    position: fixed;
    bottom:40px;
    left: 0;
}
nav ul{
    list-style: none;
}

nav ul li{
text-transform: uppercase;
margin: 10px 0;
transform:translateX(-150%);
transition:transform 0.4s linear;
cursor: pointer;
}
nav ul li i {
    font-size:20px;
    margin-right: 10px;
}
nav ul li + li {
    margin-left: 15px;
}
nav ul li + li + li {
    margin-left: 30px;
}